<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				lang="en"
>
	<head th:include="layout :: headerFragment">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Product Service</title>
		<link rel="stylesheet" type="text/css" href="style-products.css" media="screen" />
	</head>
	<body>
		<div id="container" style="margin: 50px">
			<h1>
				Produkte Service intern
			</h1>
			<h3>Benutzer <span th:text="${username}">--name--</span></h3>

			<!--
			<table class="table table-striped">
				<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Address</th>
					<th>Service Rendered</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${customers}">
						<td th:text="${customer.id}">Text ...</td>
						<td th:text="${customer.name}">Text ...</td>
						<td th:text="${customer.address}">Text ...</td>
						<td th:text="${customer.serviceRendered}">Text...</td>
					</tr>
				</tbody>
			</table>
			-->
			<h3>
				Products
			</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Beschreibung</th>
						<th>Preis</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td th:text="${product.productId}">Text ...</td>
						<td th:text="${product.description}">Text ...</td>
						<td th:text="${product.price}">Text ...</td>
					</tr>
				</tbody>
			</table>
			<div id="pagefoot" th:include="layout :: footerFragment">Footer</div>
		</div>
	<!-- container -->
	</body>
</html>
